<section class = "page_search">
    <div class = "page__header page__header--center">
        <h1 class = "page__tile">
            Busca
        </h1>

        <p class = "page__summary">
            <%= msg %>
        </p>

        <%= render "search/form"%>
        <%#= render "news/most_read" %>
    </div>
</section>