<div class = "section__footer">
    <div class = "section__nav">
        <%= link_to :back, class: 'link link--left link--tiny' do %>
            <span class="icon--left ion-ios-arrow-thin-left"></span> 
            Voltar
        <% end %>

        <%= link_to root_path(), class: 'link link--left link--tiny', style: 'margin-left: 1rem;' do %>
            <span class="icon--left ion-android-print"></span> 
            Imprimir
        <% end %>

        <%= render "layouts/includes/social" %>
    </div>
</div>