<% if !@classifieds.present? %>
    <h3 class = "empty_message">
        Ainda não há nenhum item cadastrado...
    </h3>
<% else %>
    <div class = "classified_list">
        <% @classifieds.each do |item| %>
            <%= link_to(classified_show_path(item.slug), class: "classified_link") do %>
                <figure class = "classified_figure">
                    <% image_tag(item.image, class: "classified_small_image") %>
                </figure>

                <h3 class = "classified_small_title">
                    <%= item.title.to_s() %>
                </h3>

                <p class = "classified_small_price">
                    <%= item.price.to_s() %>
                </p>
            <% end %>
        <% end %>
    </div>
<% end %>