<div class = "classified_container">
    <div class = "classified_content">
        <div class = "header">
            <h1 class = "page_title">
                Novo Anúncio
            </h1>

            <%= link_to("Ver Anúncios", classifieds_path(), class: "header_link") %>
        </div>

        <p class = "classified_text">
            <span class = "icon--left ion-alert-circled"></span> 
            Todos os anúncios vinculados ao site <strong>possuem uma durabilidade de 30 dias</strong>.
            Sendo assim, após o término, o mesmo será removido automáticamente do site. Não será possível editar ou excluir o anúncio 
            manualmente, por isso, fique atento ao cadastrar as informações. Em caso de urgência, entre em contato com os 
            administradores deste poral.
        </p>

        <%= render "classified/form" %>
    </div>
</div>