<% autofocus = "autofocus" unless params[:q] %>
<form class = "form search__form" action = "<%= search_search_path %>" >
    <div class = "form__field search__field">
        <input class = "form__input search__input" type = "form" name = "q" alue = "<%= params[:q] %>" id = "form" <%= autofocus %> placeholder = "O que você procura?" >
        <buttom class = "btn search__btn" type = "submit">
            <span class = "header__icon ion-search"></span>
        </buttom>
    </div>
</form>