<div class = "video_container">
    <div class = "generic_most_read">
        <%= render "news/most_read" %>
    </div>
    <!-- Change font os most_read -->
    <%= render "video/script" %>

    <div class = "video_page_content">
        <h1 class = "video_page_tile">
            Vídeos
        </h1>

        <%= render "video/list", videos: @videos %>
    </div>
</div>



