<div class = "video_container">
    <div calss = "video_page_content">
        <h1 class = "video_page_tile">
            Vídeos
        </h1>

        <%= render "video/list", videos: @videos %>
    </div>
</div>
