// variables
$primary-color: #403F4C;
$primary-color-dark: #e91e62;
$secondary-color: #11111199;
$secondary-color-dark: #f9c11e;
$default-color: #403F4C;
$default-color-dark: #403F4C;
$white: #fff;
$black: #000;

$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
