<div class = "announce_container">
    <h1 class = "announce_title">
        EXPEDIENTE
    </h1>

    <h3 class = "announce_sub_title">
        Diretores
    </h3>

    <p class = "announce_text">
        Márcio Rogério<br><br>
        José Almir Portela
    </p>

    <h3 class = "announce_sub_title">
        Direção de Redação
    </h3>

    <p class = "announce_text">
        Acácio Gomes - Jornalista DRT: 0001500/MS<br>
    </p>

    <h3 class = "announce_sub_title">
        Repórter
    </h3>

    <p class = "announce_text">
        Márcio Rogério<br><br>
        José Almir Portela - Jornalista DRT: 0001501/MS<br><br>
        Bárbara Balestero<br>
    </p>

    <h3 class = "announce_sub_title">
        Comercial e Publicidade
    </h3>

    <p class = "announce_text">
        Márcio Rogério<br>
    </p>

    <h3 class = "announce_sub_title">
        Desenvolvimento/Hospedagem
    </h3>

    <p class = "announce_text">
        <strong>Agência W3</strong> - Publicidade e Desenvolvimento Web.<br>
    </p>
</div>