$primary-color: #403F4C;
$secondary-color: #11111199;

.classified_container{
    width: 50%;
    margin: 1rem auto;

    .classified_content{
        width: 70%!important;
        height: auto;
        margin-right: auto;
        border-top: $primary-color 2px solid;

        .empty_message{
            font-size: 1.5rem;
            font-weight: 500;
        
            margin-top: 1rem;
        }
    }
}

.header{
    display:flex;
    justify-content: space-between;

    margin: 0rem 0 2rem 0;
    line-height: 1rem;
    padding: 0.8rem 0;

    .page_title, .empty_message{
        line-height: inherit;

        color: $primary-color;
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;

        padding: 0.5rem 0rem;
    }

    .header_link{
        text-decoration: none;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1rem;

        margin-top: 0.3rem;
    }
}

.classified_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .classified_link{
        text-decoration: none;
        display: block;

        margin: 1rem 1.5rem 1rem 0rem;// cima direita baixo esquerda
        padding-bottom: 1.5rem;
        border-bottom: lightgray 1px solid;

        justify-content: space-between;

        .classified_figure{
            width: 12.125rem;
            height: 110px;
        
            margin-bottom: 0.5rem;
        
            .classified_small_image{
                width: 100%;
                height: 100%;
            }
        }

        .classified_small_title{
            color: black;
            font-size: 1.3rem;
            font-weight: 500;

            margin: 0;
        }

        .classified_small_price{
            color: $secondary-color;
            font-size: 0.9rem;
        }
    }
}

.product_info{
    text-align: center;

    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: lightgray 1px solid;

    .product_title{
        color: $primary-color;
        font-size: 2.5rem;
        font-weight: 700;

        margin: 0;
    }

    .product_line{
        color: $secondary-color;
        font-size: 1.1rem;

        word-spacing: 10px;
        margin: 0.5rem 0 0 0;
    }
}

.fotorama{
    background: black;
    border: black 10px solid;

    margin-bottom: 1rem;
}
.fotorama__stage{
    max-width: 740px;   
    max-height: 450px;
}
.fotorama__img{
    top: 0 !important;
}

.product_description_box{
    margin: 1.5rem 0;

    .description{
        color: $secondary-color;
        font-size: 1.1rem;

        margin: 0;
    }
}


.classified_text{
    color: $secondary-color;
    font-size: 1rem;
}
.form{
    //display: flex;

    .form_field{
        width: 100%;

        display: flex;
        flex-direction: column;

        margin-bottom: 1.5rem;

        .form_input{
            height: 3rem;
            line-height: 3rem;

            padding: 0.2rem 0.3rem;
            border: lightgray 1px solid;
            border-radius: 8px;
        }
    }
}