$primary-color: #403F4C;
$secondary-color: #11111199;

.classified_container{
    width: 50%;
    margin: 1rem auto;

    .classified_content{
        width: 70%!important;
        height: auto;
        margin-right: auto;
        border-top: $primary-color 2px solid;

        .empty_message{
            font-size: 1.5rem;
            font-weight: 500;
        
            margin-top: 1rem;
        }
    }
}

.header{
    display:flex;
    justify-content: space-between;

    margin: 0rem 0 2rem 0;
    line-height: 1rem;
    padding: 0.8rem 0;

    .page_title, .empty_message{
        line-height: inherit;

        color: $primary-color;
        font-size: 1.8rem;
        font-weight: 800;
        text-transform: uppercase;

        padding: 0.5rem 0rem;
    }

    .header_link{
        text-decoration: none;
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1rem;

        margin-top: 0.3rem;
    }
}

.classified_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.classified_text{
    color: $secondary-color;
    font-size: 1rem;
}