$primary-color: #403F4C;
$secondary-color: #11111199;

.container_search{
    margin-top: 1rem;

    max-width: 61.25rem;
    margin-left: auto;
    margin-right: auto;

    .page_search{
        border-top: #403f4C 2px solid;

        width: 55%;
        margin: 0 auto;

        text-align: center;

        .page__summary, .page__text{
            font-size: 1rem;
            line-height: 1.6rem;

            color: $secondary-color;
            margin-top: 0.5rem;
            margin-bottom: 0%;
        }
    }
}

.page__header{
    padding: 0.8rem 0rem;
    margin: 1rem 0;

    .page__title{
        position: relative;

        font-size: 1.8rem;
        color: #403f4C;
        font-weight: 900;
        line-height: initial;
        text-transform: uppercase;
    }
}
.form__field{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    border: #777777  1px solid;
    border-radius: 4px;
    margin-bottom: 4rem;

    .form__input{
        height: 4rem;
        line-height: 3rem;
        font-size: 1.4rem;
    
        width: 80%;
        outline: none;
        border: 0px none;
        padding-left: 1rem;
        /*padding-right: 4rem;*/
    }

    .btn{
        position: relative;
        float: right;
        box-shadow: none;

        font-size: large;
        color: $secondary-color;
    }
}

.fc-item{
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: $secondary-color 1px solid;

    .fc_category_date{
        display: flex;
        flex-direction: row;

        line-height: 1rem;
    }

    .fc-time{
        position: relative;
        margin-left: auto;

        color: $secondary-color;
        font-size: 0.7rem;

        float: right;
    }

    .fc-caption{
        position: relative;
        margin-right: auto;

        color: rgb(234, 71, 84);
        text-transform: uppercase;
        font-size: 0.7rem;
        font-weight: 600;
        float: left;
    }

    .fc-title{
        color: $primary-color;
        font-size: 1.3rem;
        font-weight: 500;

        text-align: left;
    }
}


