$primary-color: #403F4C;
$secondary-color: #11111199;

.video_container{
    width: 50%;
    margin: 1rem auto;

    .video_page_content{
        width: 70%!important;
        height: auto;
        margin-right: auto;
        border-top: $primary-color 2px solid;

        .video_page_tile, .video_empty{
            color: $primary-color;
            font-size: 1.8rem;
            font-weight: 700;
            text-transform: uppercase;

            padding: 0.5rem 0rem;
        }

        .video_empty{
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.video_list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 2rem 0rem;

    width: 100%;
    transform: translateY(10%); //move on Y ^

    .video_link{
        text-decoration: none;

        padding-bottom: 1.5rem;
        margin: 0 1rem 1.5rem 0;
        border-bottom: rgba(17,17,17,.1) 1px solid;

        .video_figure{
            width: 12.5rem;
            height: auto;

            margin-bottom: 0.5rem;

            .video_small_thumb{
                width: inherit;
            }
        }

        .video_date_place{
            font-size: 0.8rem;
            color: $secondary-color;

            margin-bottom: 0.2rem;
        }

        .video_small_title{
            font-size: 0.8rem;
            font-weight: 700;
            color: black;
        }
    }
}

.video_content{
    padding: 0.5rem 0;
    text-align: center;

    .video_date{
        color: $secondary-color;
        font-size: 0.8rem;

        margin-bottom: 0.2rem;
    }

    .video_title{
        font-size: 2.4rem;
        font-weight: 700;
        color: $primary-color;
    }

    .video_description{
        font-size: 1.3rem;
        color: rgba(0,0,0,.4);

    }

    .video_video{
        padding: 2rem 0;
        margin: 2rem auto;
        border-top: rgba(0,0,0,.1) 1px solid;

        //width: 560px;
        align-self: center;

        .video_embed{
            width: 100%;
        }
    }
}


