<section class = "album_container">
    <div class = "album_feed">
        <div class = "album_header">
            <h1 class = "album_page_title">
                Festas & Eventos
            </h1>
        </div>

        <div class = "album_content">
            <% @albums.each do |i| %>
                <%= link_to album_path(i.slug, i), id: "album_link", class: "album_link" do %>
                    <figure class = "album_cover_figure">
                        <%= image_tag(i.cover, class: "album_cover") %>
                    </figure>

                    <div class = "album_date_album">
                        <spam class = "ion-calendar icon--left"></spam> <!-- calendar icon -->
                        <p class = "date_album">
                            <%= i.date_album.to_s() %>
                        </p>
                    </div>

                    <div class = "album_title">
                        <h5 class = "album_name">
                            <%= i.name.to_s() %>
                        </h5>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</section>
